name: Demo Secret

on:
  workflow_dispatch:
  
jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello is:$MY_SECRET"
        env:
          MY_SECRET: ${{ secrets.MY_SECRET }}
